---
import Icon from './Icon.astro';
import ThemeToggle from './ThemeToggle.astro';
---

<nav>
	<a href="/qr-stego" class="site-title">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="1.6em" gradient />
		QR Steganography
	</a>
	<div class="theme-toggle">
		<ThemeToggle />
	</div>
</nav>

<style>
	nav {
		z-index: 9999;
		position: relative;
		font-family: var(--font-brand);
		font-weight: 500;
		margin-bottom: 3.5rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1.5rem;
	}

	.site-title {
		display: flex;
		gap: 0.5rem;
		align-items: center;
		line-height: 1.1;
		color: var(--gray-0);
		text-decoration: none;
	}

	.theme-toggle {
		display: flex;
		align-items: center;
	}

	@media (min-width: 50em) {
		nav {
			padding: 2.5rem 5rem;
		}

		.site-title {
			font-size: var(--text-lg);
		}
	}
</style>
